@model STIM.Web.Security.AccountModels.LocalPasswordModel
@{
    ViewBag.Title = "修改密码";
}

@section scriptslink {
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    @this.RegisterCtrls(
        "validate"
    )
}

@section styles {
    <style type="text/css">
        div.form-panel {
            padding-top:48px;
            padding-left:48px;
            height: 100%;
        }

            div.form-panel label {
                font-size: 14px;
                line-height: 40px;
            }

            div.form-panel input {
                width: 200px;
                height: 30px;
                line-height: 30px;
            }

            div.form-panel input.button {
                width: 204px;
                height: 30px;
                line-height: 30px;
                margin-top: 40px;
                font-size: 14px;
            }
    </style>
}

<div id="contentPanel" class="content-panel" style="overflow:hidden;">
    <div class="form-panel">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "pwdForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.OldPassword)
        <br />
        @Html.PasswordFor(m => m.OldPassword)
        <br />
        @Html.LabelFor(m => m.NewPassword)
        <br />
        @Html.PasswordFor(m => m.NewPassword)
        <br />
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.PasswordFor(m => m.ConfirmPassword)
        <br />
        <input id="changePwdBtn" type="submit" class="button background-highlight" value="更改密码" onclick="javascript:return false" />
    }
    </div>
</div>

@section scriptsBody {
    <script type="text/javascript">
        (function () {
            var pageLogic = window.pageLogic = {
                init: {
                    beforeCtrls: function() {
                        var message = "@(ViewBag.StatusMessage)";
                        if(message.length > 0) {
                            ui.msgshow(message);
                        }
                    },
                    layout: function() {
                    },
                    afterCtrls: function() {
                        this.pwdValidate = $("#pwdForm").setValidate({
                            rules: {
                                OldPassword: { required: true },
                                NewPassword: { required: true },
                                ConfirmPassword: {
                                    required: true,
                                    custom: function(elem) {
                                        return elem.value === $("#NewPassword").val();
                                    }
                                }
                            },
                            messages: {
                                OldPassword: {
                                    required: "请填写当前密码"
                                },
                                NewPassword: {
                                    required: "新密码不能为空"
                                },
                                ConfirmPassword: {
                                    required: "确认密码不能为空",
                                    custom: "确认密码和新密码填写不一致"
                                }
                            }
                        });
                    },
                    events: function() {
                        $("#changePwdBtn").click(function(e) {
                            if(!pageLogic.pwdValidate.form()) {
                                return;
                            }
                            $("#pwdForm").submit();
                        });
                    },
                    load: function() {
                    }
                }
            };
        })();
    </script>
}

